h1 { padding-left: 15px; 
    
    font-family: Copperplate Gothic Light;
    
    font-size: 18px; 
    
    text-align: justify; 
    
    color: darkred; 
   }
p { padding-left: 15px; 
    
    font-family: Copperplate Gothic Light;
    
    font-size: 18px; 
    
    text-align: justify; 
    
    color: black; 
   }
 
